link(rel='stylesheet', href='stylesheets/bootstrap.css')
script(src='/socket.io/socket.io.js')
script(src='javascripts/jquery-1.9.1.min.js')

div(class='container')
  div(class='col-lg-12')
    p Input was #{response}
    div(class='show-logs well bs-component bg-light-div col-lg-8 col-lg-offset-2').
      this is here all the stuff goes.

script.
  var socket = io.connect('http://localhost:2000');
  socket.emit('send data', { data: #{ response } });
  socket.on('data', function (data) {
    $('.show-logs').append(data.data);
    $('.show-logs').append('<br>');
    $('.show-logs').append('<br>');
    console.log(data)
  });
